//
//  AppConfig.xcconfig
//  RabbyMobile
//
//  Created by richardo2016x on 2024/6/27.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

RABBY_MOBILE_CODE = RABBY_MOBILE_CODE_DEV

// 尝试解决 literal pool symbol address: _objc_msgSend 地址不稳定的问题
GCC_OPTIMIZATION_LEVEL = 0
SWIFT_OPTIMIZATION_LEVEL = -Onone

// 链接器 (Linker) 额外参数
// order 文件生成：
// nm /path/to/RabbyMobile |
// grep -E '_OBJC_CLASS_\$|_objc_msgSend' |
// sed -E 's/.*[[:space:]](_OBJC_CLASS_\$[^ ]+|[^ ]*_objc_msgSend[^ ]*).*/\1/' |
// sort -u > ./scripts/validate-hash.order

OTHER_LDFLAGS = $(inherited) -Wl,-no_objc_category_merging -Wl,-order_file,RABBY_MOBILE_PATH_HOLDER/scripts/validate-hash.order

// 针对 C/Objective-C 文件
OTHER_CFLAGS = $(inherited) -O0 -fno-inline -mllvm -arm-promote-constant=false -fdebug-prefix-map=RABBY_MOBILE_PATH_HOLDER=.

// 针对 C++/Objective-C++ 文件
OTHER_CPLUSPLUSFLAGS = $(inherited) -fdebug-prefix-map=RABBY_MOBILE_PATH_HOLDER=.

// 针对 Swift 间接影响 C++ 的情况（如桥接头文件）
OTHER_SWIFT_FLAGS = $(inherited) -Xcc -fdebug-prefix-map=RABBY_MOBILE_PATH_HOLDER=.

// 禁用 PIE Position-Independent Executable
LD_NO_PIE = YES
LLVM_LTO = NO
